



header{
	display: flex;
    flex-wrap: nowrap;
	justify-content: space-between;
    width: 100%;
        
}



#arrow{
	transform: translate(5px, -3px);
}

.btn-red{
	background-color: rgb(244, 6, 17);
	height: 60px;
	width: 295px;
	color: white;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 9px;
	font-size: 30px;




}

.element-2{
	position: absolute;right: 60px;
	background-color: #e50914;
	color: white;
	border-radius: 6%;
	font-size: 16px;
	font-weight: lighter;
	width: 100px;
	text-align: center;
	padding: 5px;

}



.btn-red:hover{
	background-color: red;
}













    