#faq-title{
	text-align: center;
	margin-top: 10px;
  font-size: 50px;

}


.faq-mail-container{
	display: flex;
	align-items: center;
	flex-direction: column;
  margin-bottom: 50px;

}




.card-faq{
	

	color: white;
	background-color: black;
	width: 100%;
	border-top: 8px solid rgb(33,33,33);
	border-bottom: 8px solid rgb(33,33,33);
	padding-top: 20px;
	height: auto;
	

	


}

.big-accordion{
  margin:50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.accordion {

  
  background-color: #303030;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 500px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
  width: 800px;
  height: 70px;
  border-bottom: 1px solid black;
 
}

.accordion-block{
  margin-bottom: 10px;
}



.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 30px;
  color: rgb(255,255,255);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 20px 23px;
  display: none;
  background-color: #303030;
  overflow: hidden;
  width: 800px;
  height: 100%;
  color: white;
  font-size: 24px;

}
