

.mobile-container{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: absolute;left: 130px;


}

.mobile-border{
 position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    background: black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 23%;
    min-width: 15em;
    padding: 0.25em 0.65em;
    border: 2px solid rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 0 2em 0 #000000;
    -moz-box-shadow: 0 0 2em 0 #000000;
    box-shadow: 0 0 2em 0 #000000;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    transform: translate(-600px);

}




.mobile{
	width: 500px;
  height: 400px;
	padding-bottom: 30px;
  margin-right: 0px;




	
}

.stm{
  width: 70px;
  height: 75px;
  padding: 5px 10px;

}





.lds-ring {
  width: 45px;
  height: 50px;
  color: #0071EB;
   transform: translate(-20px,-10px);
}
.lds-ring div {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 34px;
  height: 34px;
  margin: 8px;
  border: 8px solid blue;
  border-radius: 50%;
  animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: blue transparent transparent transparent;
 color:#0071EB;

}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}